// ==============================
// 
//        Functions - BEM
//
// ============================== 

// Construct BEM block selector string
//
// @param  { String } name of the block 
// @param  { String } type of the block 
// @return { String } the constructed BEM block selector string
@function make-BEM-block-selector($name, $type) {
  @return (
    "." + get-BEM-block-prefix-by-type($type) + $name
  );
}

// Construct BEM element selector string
//
// @param  { String } the element name
// @param  { Boolean } called in a modifier context? 
// @return { String } the constructed BEM element selector string
@function make-BEM-element-selector($name, $in-BEM-modifier: false) {

  @if ($in-BEM-modifier) {
    @return (
      & + " " + make-BEM-element-selector($name)
    );
  }

  @return (
    get-BEM-block(&) + get-BEM-element-sep() + $name
  );
}


// Construct BEM modifier selector string
// @param { String } the modifier name
// @param { Boolean } called in an element context?
// @return { String } the constructed BEM modifier selector string
@function make-BEM-modifier-selector($name, $value: null, $in-BEM-element: false) {

  @if ($value) {
    @return (
      attach-value-to-BEM-modifier(
        make-BEM-modifier-selector($name), 
        $value
      )
    );
  }

  @if ($in-BEM-element) {
    @return (
      & + get-BEM-modifier-sep() + $name 
    )
  }

  @return (
    get-BEM-block(&) + get-BEM-modifier-sep() + $name 
  );
} 


// Add a value string to given BEM modifier selector string
// @param { String } the modifier name
// @param { String } the value 
// @return { String } a value attached BEM modifier
@function attach-value-to-BEM-modifier($BEM-modifier-selector-string, $value) {
  @return ( 
    $BEM-modifier-selector-string + get-BEM-modifier-sep() + $value
  );
}


// Get BEM block selector(e.g "b-block") 
// from given selector list
// @param { List } the selector list
// @return { Unquoted String } the BEM block selector
@function get-BEM-block($selector) { 
  @return (
    slice-off-BEM-block(
      selector-to-string($selector)
    )
  );
} 


// Get BEM block prefix by given type
// @param { String } the type of the block
// @return { String } the prefix of the block type
@function get-BEM-block-prefix-by-type($type) { 
  @if ($type == null) {
    @return get-BEM-block-prefix-default();
  }

  $prefix: map-get($__BEM-block-types__, $type);

  @if ($prefix == null) {
    @error "block type: '#{$type}' has not been declared";
  }

  @return unquote(map-get($__BEM-block-types__, $type));
}


// Get default BEM block prefix
// @return { String } the default BEM block prefix
@function get-BEM-block-prefix-default() {
  @if (type-of($__BEM-default-prefix__) == "string") {
    @return unquote($__BEM-default-prefix__);
  }
  @return $__BEM-default-prefix__;
}


// Get BEM element separator from settings 
// @return { String } BEM element separator
@function get-BEM-element-sep($null:null) {
  @return unquote($__BEM-element-sep__);
}


// Get BEM modifier separator from settings 
// @return { String } BEM modifier separator
@function get-BEM-modifier-sep($null:null) {
  @return unquote($__BEM-modifier-sep__);
}


// Slice off BEM block string
// from given selector string
// @param   { String } the selector as string
// @return  { Unquoted String } selector as unquoted string
// @example
//    slice-off-BEM-block(".b-block_mod") //=> ".b-block"
@function slice-off-BEM-block($selector-string) {
  @return (
    unquote(
      str-slice(
        $selector-string,
        1,
        sep-start-at($selector-string)
      )
    )
  );
}


// Convert selector to unquoted string
// @param { List } the selector
// @param { Unquoted String } the selector as unquoted string
//
// This ensures a given selector is valid string like below:
//
//  (.selector) -> .selector #unquoted string
//
// @note
// Just using 'inspect' function doesn't meet the demand 
// since ruby-sass keeps parenthesis / comma in list
@function selector-to-string($selector) {
  @return(
    unquote(
      str-rm-parenthesis(
        str-rm-comma(
          inspect($selector)
        )
      )
    )
  );
} 


// Get an index of the first elem/modifier separator
// from a given selector string
// @param   { String } the selector as string
// @return  { Number } index of the separator
@function sep-start-at($selector-string) {
  $index-element-sep: str-index($selector-string, get-BEM-element-sep());
  $index-modifier-sep: str-index($selector-string, get-BEM-modifier-sep());

  @if ($index-element-sep and $index-modifier-sep) {
    @return min($index-element-sep, $index-modifier-sep) - 1;
  } 

  @if ($index-element-sep) {
    @return $index-element-sep - 1;
  } 

  @if ($index-modifier-sep) {
    @return $index-modifier-sep - 1;
  } 

  @return -1; 
} 


// Check if a given selector is a BEM modifier or not
// @param  { List } the selector
// @return { Boolean }
@function is-BEM-modifier($selector) {
  @if (str-match(inspect($selector), get-BEM-modifier-sep())) {
    @return true;
  }
  @return false;
} 

// Check if a given selector is a BEM element or not
// @param  { List } the selector
// @return { Boolean }
@function is-BEM-element($selector) {
  @if (str-match(inspect($selector), get-BEM-element-sep())) {
    @return true;
  }
  @return false;
}

// Check if a BEM entity exists or not
// @param { String } the selector string
// @return { Boolean }
@function BEM-entity-exists($selector-string) {
  @each $BEM-entity in $__BEM-entities__ {
    @if ($BEM-entity == $selector-string) {
      @return true;
    }
  }
  @return false;
}

@function register-BEM-entity($selector-string) {
  $__BEM-entities__: append($__BEM-entities__, $selector-string) !global;
  @return true;
}
