@include init-bem-sass;
@include configure-bem-sass((
  default-prefix: $defaultPrefix or "",
  block-types: $blockTypes or (),
  element-sep: $elementSep or "__",
  modifier-sep: $modifierSep or "_"
));

@if ($entitiesLog != null) {
  @each $entity in $entitiesLog {
    @if (bem-sass-add("logged-entities", $entity)) {};
  } 
}
