@import '../../dist/bem-sass'; 


/* block */
@include block(media) {
  color: red;

  @include element(elem) {
    color: red; 

    @include modifier(mod) {
      color: blue;
    } 
  } 

  @include modifier(mod) {
    color: blue;

    @include element(elem2) {
      color: red; 

      @include adjacent-siblings {
        color: yellow;
      }
    } 
  } 
} 

@include configure-bem-sass((
  default-prefix: "b-",
  block-types: (
    object:      "ob-",
    component:   "c-",
    module:      "m",
    hack:        "_",
    hack2:       "--",
    hack3:       "-_-",
    hack4:       "______________",
    korean:      "뒑",
    uchar:       "♫-",
    escape:      "\\@"
  ),
  element-sep: "-",
  modifier-sep: "--"
)); 

@mixin shared-examples($block-type) {
  @include block(media, $block-type) {
    color: blue;

    @include element(item) {
      color: yellow; 
    }

    @include element(body) {
      color: yellow;
    }

    @include modifier(horiz) {
      @include element(item) {
        color: blue;
        @include adjacent-siblings {
          border-top: 1px solid #ddd;
        }
      }
      @include element(body) {
        color: blue;
      }
    }
  } 

  @include block(nav, $block-type) {
    color: blue;

    @include def-rules("nav-item") {
      font-size: 1em;
    } 

    @include element(header) {
      @include get-rules("nav-item");
      color: red;
    }

    @include element(search) {
      @include get-rules("nav-item");
      color: blue;
    }
  } 
} 

@each $type in map-keys(bem-sass-get("config", "block-types")) {
  @include shared-examples($type);
}

@debug length(bem-sass-get("block-levels"));
