@import '../../dist/bem-sass'; 

/* block */
@include block(block) {
  color: red;

  @include element(elem) {
    color: red;

    @include modifier(mod) {
      color: blue;
    }
  } 

  @include modifier(mod) {
    color: blue;

    @include element(elem2) {
      color: red;
      & + & {
        color: yellow;
      }
    } 
  } 
} 

@include configure-BEM((
  block-types: (
    component: c-,
    object:    o-
  ),
  element-sep: "__",
  modifier-sep: "_"
));

/* block: (component: "c-") */
@include block(component, component) {
  color: blue;

  @include element(element) {
    color: red;
  }
}

/* block: (object: "o-") */
@include block(media, object) {
  color: blue;

  @include element(item) {
    color: yellow;
  }

  @include element(body) {
    color: yellow;
  }

  @include modifier(horiz) {
    @include element(item) {
      color: blue;
    }
    @include element(body) {
      color: blue;
    }
  }
} 

@debug $__BEM-entities__;
