@import '../../dist/bem-sass'; 

/* block */
@include block(block) {
  color: red;

  @include element(elem) {
    color: red; 

    @include modifier(mod) {
      color: blue;
    } 
  } 

  @include modifier(mod) {
    color: blue;

    @include element(elem2) {
      color: red; 

      @include adjacent-siblings {
        color: yellow;
      }
    } 
  } 
} 

@include configure-bem-sass((
  block-types: (
    component: c-,
    object:    o-
  ),
  element-sep: "__",
  modifier-sep: "_"
)); 

/* block: (object: "o-") */
@include block(media, object) {
  color: blue;

  @include element(item) {
    color: yellow;
  }

  @include element(body) {
    color: yellow;
  }

  @include modifier(horiz) {
    @include element(item) {
      color: blue;
    }
    @include element(body) {
      color: blue;
    }
  }
} 

/* block: (component: "c-") */
@include block(nav, component) {
  color: blue;

  @include def-rules("nav-item") {
    font-size: 1em;
  }

  @include element(header) {
    @include get-rules("nav-item");
    color: red;
  }

  @include element(search) {
    @include get-rules("nav-item");
    color: blue;
  }
} 
